:root {
    --primary: #034078;
    --secondary: #001f54;
    --success: #1282a2;
    --dark: #0a1128;
    --light: #fefcfb;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

body {
    font-family:'Noto Sans JP', sans-serif;
    background-image: linear-gradient(to bottom right, var(--secondary), var(--light));
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    /* max-height: 100vh; */
    /* max-height: 100%; */
}

main#container {
    
}

.card {
    /* padding-top: 10px; */
    margin: 3rem 2rem;
    line-height: 1.2rem;
    cursor: pointer;
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
    font-weight: 400;
    background-color: #03407898;
    color: var(--light);
}

.card-main {
    margin: 5rem auto 0;
    width: 35em;
    height: 20em;
    perspective: 800px;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2)
}

.card-face-front {
    background-color: var(--light);
    /* background-image: linear-gradient(to bottom right, var(--light), var(--dark)); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-face-back {
    background-color: var(--light);
    /* background-image: linear-gradient(to bottom right, var(--primary), var(--light)); */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}

.card-inner p {
    font-size: 1.6rem;
    padding: 1.2rem;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button {
    margin: 2em 6em;
}

.hidden {
    display: none;
}

.japanese {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 300;
}

h1#header {
    text-align: center;
    color: #fff;
    font-size: 4rem;
    letter-spacing: 1.5rem;
    margin-top: 2rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 400;
}

@media (max-width: 768px) {

    body {
        /* min-height: 100vh;
        max-height: 100vh; */
        /* max-height: 100%; */
    }

    .card-main {
        margin: 15% auto 4%;
        width: 20em;
        height: 30em;
    }

    .buttons button {
    margin: 2rem 2rem;
    }

    h1#header {
        font-size: 2.5rem;
        letter-spacing: 1rem;
    }
}

@media (max-width: 420px) {

    .card-main {
        margin: 30% auto 4%;
        width: 15rem;
        height: 25rem;
        /* font-size: 0.5rem; */
    }

    .buttons button {
    margin: 3.5rem 2rem;
    }

    h1#header {
        font-size: 1.8rem;
        letter-spacing: 0.7rem;
    }
}